@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{ 
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
}
:root{
    --purple-color-01: #eae8fe;
    --purple-color-02: #6327fe;
    --sold-out-color:rgba(0, 0, 0, 0.8);
}
.visually_hidden{
    overflow: hidden;
    border: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
}
body{
    background-color:var(--purple-color-01);
}
.logo{
    display: flex;
    justify-content: center;
}

main{
    width: 748px;
    height: 545px;
    margin: 75px auto 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between; /* 축이 column 이니까 가로여백은 align-content*/
}
.vending_left{
    width: 360px;
    height: 545px;
    background-color: white;
}
.vending_right_top{
    width: 360px;
    height: 50px;
    background-color: white;
}
/* top이랑 bottom 사이 마진 20px */
.vending_right_bottom{
    margin-top: 20px;
    width: 360px;
    height: 475px;
    background-color: white;
}
.vending_items{
    width: 306px;
    padding: 31px 27px 8px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap_drinks{
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 10px;
    width: 94px;
    padding: 11px 0px 10px;
    margin-bottom: 12px;
}
.wrap_drinks:hover{
    box-shadow : 0px 0px 2px 3px var(--purple-color-02);
}
.wrap_drinks img{
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 65px;
}
.wrap_drinks .txt_item{
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    padding: 6px 0px 7px;
    text-align: center;
}
.wrap_drinks .button_price{
    display: block;
    width: 70px;
    margin: 0 10px 0px 11px;
    background-color: var(--purple-color-02);
    color: white;
    border-radius: 50px;
}
.vending_balance_wrap{
    width: 306px;
    height: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 27px;
}
.vending_balance{
    width:200px;
    height: 33px;
    border-radius: 5px;
    background-color: var(--purple-color-01);
}
.vending_balance p{
    display: inline-block;
    padding: 6px 10px 7px;
    font-size: 14px;
    line-height: 20px;
}
.balance_text{
    width: 47px;
    height: 20px;
}
.balance{
    margin-left: 60px;
}
.button_return_change{
    border: 0px;
    word-break:normal;
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    background: #FFFFFF;
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 5px;
    width: 94px;
    height: 32px;
}
.vending_deposit_wrap{
    margin: 11px 27px
}
.deposit_money{
    width: 200px;
    height: 33px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 6px;
} 
.deposit_money::placeholder{
    font-size: 13px;
    line-height: 19px;
    color: #BDBDBD;
    
}
#button_deposit_money{
    margin-left: 8px;
    background: #FFFFFF;
    border: 0px;
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 5px;
    width: 94px;
    height: 32px;
}
.vending_items_select{
    display: flex;
}
.vending_item_list{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 200px;
    height: 106px;
    background-color: var(--purple-color-01);
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 27px;
    margin-right: 12px;
}
#button_put_items{
    color: white;
    background-color: var(--purple-color-02);
    border-radius: 5px;
    width: 94px;
    height: 106px;
}
.vending_right_top .pocket_money{
    width: 306px;
    padding: 9px 27px;
    background-color: var(--purple-color-01);
    background-clip: content-box;
}
.vending_right_bottom>h2{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 25px 0px 13px;
}
.pocket_money p{
    display: inline-block;
    padding: 6px 10px;
}
.pocket_money .txt_pocket_money{
    float: left;
}
.pocket_money .data_pocket_money{
    float: right;
}
.list_left{
    width: 170px;
}
.list_right{
    width: 276px;
}
/* padding 으로 만 레이아웃을 잡으면 overflow scroll 이 안되고 
   테두리를 넣을 수 없어서 바꿈
*/
.cont_items{
    height: 364px;
    box-sizing: border-box;
    border: 1px silver solid;
    margin: 0px 27px;
    /* padding: 6px 27px 52px; */
    background-color: var(--purple-color-01);
    background-clip: content-box;
    border-radius: 5px;
    overflow: scroll;
}

.list_items{
    margin-top: 6px;
    padding: 6px 18px 6px 10px;
    background-color: white;
    background-clip: content-box;
    overflow: hidden;
}
.list_items img{
    float: left;
    width: 18px;
    height: 33px;
    padding: 6px 10px 7px;
}
.list_items .txt_item{
    display: inline-block;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    padding: 18px 0px;
    float: left;
}
.list_items .div_count{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    float: right;
    margin: 8px;
}

