/* 
top 부터 main 까지 247px
main 좌우 여백 586px
main 박스 1개 360 x 545 
main 전체 748px  /

*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{ 
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
}
:root{
    --purple-color-01: #eae8fe;
    --purple-color-02: #6327fe;
    --sold-out-color:rgba(0, 0, 0, 0.8);
}

body{
    background-color:var(--purple-color-01);
}
.logo{
    display: flex;
    justify-content: center;
}

main{
    width: 748px;
    height: 545px;
    margin: 75px auto 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between; /* 축이 column 이니까 가로여백은 align-content*/
}
.vending_left{
    width: 360px;
    height: 545px;
    background-color: white;
}
.vending_right_top{
    width: 360px;
    height: 50px;
    background-color: white;
}
/* top이랑 bottom 사이 마진 20px */
.vending_right_bottom{
    margin-top: 20px;
    width: 360px;
    height: 475px;
    background-color: white;
}

.vending_items{
    width: 306px;
    height: 272px;
    padding: 31px 31px 20px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
}
.drinks{
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 10px;
    width: 94px;
    height: 130px;
}
.drinks:hover{
    box-shadow : 0px 0px 2px 3px var(--purple-color-02);
}
.vending_balance_wrap{
    width: 306px;
    height: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 27px;
}
.vending_balance{
    width:200px;
    height: 33px;
    border-radius: 5px;
    background-color: var(--purple-color-01);
}
.vending_balance p{
    display: inline-block;
    padding: 6px 10px 7px;
    font-size: 14px;
    line-height: 20px;
}
.balance_text{
    width: 47px;
    height: 20px;
}
.balance{
    margin-left: 60px;
}
.button_return_change{
    border: 0px;
    word-break:normal;
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    background: #FFFFFF;
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 5px;
    width: 94px;
    height: 32px;
}
.vending_deposit_wrap{
    margin: 11px 27px
}
.deposit_money{
    width: 200px;
    height: 33px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 6px;
} 
.deposit_money::placeholder{
    font-size: 13px;
    line-height: 19px;
    color: #BDBDBD;
    
}
#button_deposit_money{
    margin-left: 8px;
    background: #FFFFFF;
    border: 0px;
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 5px;
    width: 94px;
    height: 32px;
}
.vending_items_select{
    display: flex;
}

.vending_item_list{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 200px;
    height: 106px;
    background-color: var(--purple-color-01);
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 27px;
    margin-right: 12px;
}
.items{
    width: 170px;
    height: 46px;
    background-color: white;
    margin: 12px 18px 6px 12px;
    box-sizing: border-box;
}

.items img{
    width: 18px;
    height: 33px;
}
.items p{
    display: inline-block;
    font-size: 9px;
}
.items div{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
}

#button_put_items{
    color: white;
    background-color: var(--purple-color-02);
    border-radius: 5px;
    width: 94px;
    height: 106px;
}

.vending_right_top .pocket_money{
    width: 306px;
    padding: 9px 27px;
    background-color: var(--purple-color-01);
    background-clip: content-box;
}
.vending_right_bottom>h2{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 25px 0px 13px;
}
.pocket_money p{
    display: inline-block;
    padding: 6px 10px;
}
.pocket_money .txt_pocket_money{
    float: left;
}
.pocket_money .data_pocket_money{
    float: right;
}
.cont_items .list_items{
    width: 276px;
    padding: 12px 18px 6px 12px;
    background-color: white;
    background-clip: content-box;
    overflow: hidden;
    /* floating 해결을 위해 사용 */
}
.cont_items{
    height: 364px;
    padding: 0px 27px 52px;
    background-color: var(--purple-color-01);
    background-clip: content-box;
}

.cont_items .list_items img{
    float: left;
    width: 18px;
    height: 33px;
    padding: 6px 10px 7px;
}
.cont_items .list_items p,div{
    display: inline-block;
}
.cont_items .list_items .txt_item{
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    padding: 18px 0px;
    float: left;
}
.cont_items .list_items .div_count{
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    float: right;
    margin: 8px;
}

.visually_hidden{
    overflow: hidden;
    border: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
}