/* 
top 부터 main 까지 247px
main 좌우 여백 586px
main 박스 1개 360 x 545 
main 전체 748px  /

*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{ 
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
}
:root{
    --purple-color-01: #eae8fe;
    --purple-color-02: #6327fe;
    --sold-out-color:rgba(0, 0, 0, 0.8);
}

body{
    background-color:var(--purple-color-01);
}
.logo{
    display: flex;
    justify-content: center;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center
}
.vending_wrap{
    display: flex;
    justify-content: space-between;
    width: 748px;
    margin: 75px auto;
}

.vending_content{
    width: 306px;
    height: 490px;
    padding: 31px 27px 28px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.drinks_wrap{
    height: 272px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
}
.drinks{
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 10px;
    width: 94px;
    height: 130px;
}
.drinks:hover{
    box-shadow : 0px 0px 2px 3px var(--purple-color-02);
}
.vending_calc_ui{
    height: 194px;
    justify-content: space-between;
}
.vending_show_money{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left_money_wrap{
    width:200px;
    height: 33px;
    border-radius: 5px;
    background-color: var(--purple-color-01);
}
.left_money_wrap p{
    display: inline-block;
    padding: 6px 10px 7px;
    font-size: 14px;
    line-height: 20px;
}
.left_money_text{
    width: 47px;
    height: 20px;
}
.left_money{
    margin-left: 60px;
}

.vending_show_money #button_return_money{
    border: 0px;
    word-break:normal;
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    background: #FFFFFF;
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 5px;
    width: 94px;
    height: 32px;
}
.vending_money_input_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.input_money{
    width: 200px;
    height: 33px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing: border-box;
} 
.input_money::placeholder{
    font-size: 13px;
    line-height: 19px;
    color: #BDBDBD;
    padding-left: 6px;
}
#button_put_money{
    margin-left: 8px;
    background: #FFFFFF;
    border: 0px;
    box-shadow : 0px 0px 2px 1px silver;
    border-radius: 5px;
    width: 94px;
    height: 32px;
}
.vending_shopping_list{
    width: 200px;
    height: 106px;
    background-color: var(--purple-color-01);
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
}

#button_put_drinks{
    width: 94px;
    height: 106px;
}
.drinks_list{
    width: 170px;
    height: 46px;
    background-color: white;

}
.drinks_list img{
    width: 18px;
    height: 33px;
}
.drinks_list p{
    display: inline-block;
    font-size: 9px;
}
.drinks_list div{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;

}
.visually_hidden{
    overflow: hidden;
    border: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
}