@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{ 
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
}
:root{
    --purple-color-01: #eae8fe;
    --purple-color-02: #6327fe;
    --sold-out:rgba(0, 0, 0, 0.8);
}
.visually_hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
body{
    background-color:var(--purple-color-01);
}
.head_logo img{
    display: block;
    margin: 0 auto;
}
main{
    margin: 75px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 27px;
}
.wrap_vending_left{
    width: 360px;
    box-sizing: border-box;
    padding: 27px 27px 24px;
    background-color: white;
}
.wrap_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div_item{
    box-shadow : 0px 0px 2px 1px silver;
    /* filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25)); */
    border-radius: 10px;
    width: 94px;
    padding: 11px 0px 9px;
}
.div_item:nth-child(-n+4){
    margin-bottom: 12px;
}
.div_item:hover{
    box-shadow : 0px 0px 2px 3px var(--purple-color-02);
}
.div_item img{
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 65px;
}
.div_item .txt_item{
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    padding: 6px 0px 7px;
    text-align: center;
}
.div_item .button_price{
    display: block;
    font-size: 12px;
    line-height: 12px;
    width: 70px;
    margin: 0 10px 0px 11px;
    padding: 5px 0px;
    background-color: var(--purple-color-02);
    color: white;
    border-radius: 50px;
}
.wrap_balance{
    display: flex;
    margin: 20px 0px 11px;
}
.div_balance{
    flex-grow: 1;
    box-sizing: border-box;
    padding: 6px 10px 7px;
    border-radius: 5px;
    background-color: var(--purple-color-01);
    font-size: 14px;
    line-height: 20px;
}
.div_balance span{
    float: right;
}
.wrap_balance .button_return_change{
    width: 94px;
    margin-left: 12px;
    padding: 6px 0px 8px;
    font-size: 13px;
    line-height: 19px;
    background: #FFFFFF;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
    border-radius: 5px;
}
.wrap_deposit{
    width: 100%;
}
.inp_money{
    width: 200px;
    display: inline-block;
    padding: 6px 0px 8px 6px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 19px;
    color: #BDBDBD;
} 
.button_deposit_money{
    float: right;
    width: 94px;
    margin-left: 12px;
    padding: 7px 0px 7px;
    font-size: 13px;
    line-height: 20px;
    background: #FFFFFF;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
    border-radius: 5px;
}
.wrap_items_list{
    width: 100%;
    display: flex;
    margin-top: 12px;
}
.div_items_list{
    flex-grow: 1;
    height: 106px;
    padding: 12px 18px 0px 12px;
    background-color: var(--purple-color-01);
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: scroll;
}
.button_put_items{
    color: white;
    background-color: var(--purple-color-02);
    border-radius: 5px;
    width: 94px;
    margin-left: 12px;
    padding: 0px 35px;
}
.wrap_vending_right{
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wrap_pocket_money{
    padding: 9px 27px;
    background-color: white;
}
.wrap_pocket_money .div_pocket_money{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 10px 7px;
    border-radius: 5px;
    background-color: var(--purple-color-01);
    font-size: 14px;
    line-height: 20px;
}
.div_pocket_money span{
    float: right;
}
.wrap_shopping_basket{
    box-sizing: border-box;
    padding: 28px 27px 27px;
    background-color: white;
}
.wrap_shopping_basket>h2{
    margin-bottom: 13px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.list_left{
    height: 106px;
}
.list_right{
    height: 364px;
}
.div_items_list{
    width: 100%;
    border: 1px silver solid;
    padding: 12px 18px 0px 12px;
    box-sizing: border-box;
    background-color: var(--purple-color-01);
    border-radius: 5px;
    overflow: scroll;
}
.list_items{
    width: 100%;
    margin-bottom: 6px;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
}
.list_items img{
    float: left;
    width: 18px;
    height: 33px;
    padding: 6px 10px 7px;
}
.list_items .txt_item{
    float: left;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    padding: 18px 0px;
}
.list_items .div_count{
    float: right;
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    margin: 8px;
}
.wrap_shopping_basket .txt_total{
    float: right;
    margin-top: 6px;
    font-size: 12px;
    line-height: 17px;
}

